body {
  background: #f4b675;
  color: #ffffff;
  font-family: arial;
}

a {
  color: #ffffff;
}

h1 {
  color: #000000;
}

td.install_header {
  background: #DEA66A;
  height: 2em;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
